# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.spec

# User PDF files and test artifacts
*.pdf
*.png
*.jpg
*.jpeg

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
